@{
    ViewBag.Title = "About Us";
}

@section Styles {
    <link rel="stylesheet" href="@Url.Content("~/Content/aboutUs.css")" />
}

<section class="main">
    <div class="container">
        <div id="aboutUs">
            <h1>Welcome to Istanbul Kultur Hospital</h1>
            <p>
                Our hospital is dedicated to providing exceptional medical care.<br />
                With a team of experienced doctors, nurses, and modern technologies,
                we ensure every patient receives the utmost care and attention they could ever hope for.
            </p><br />

            <p>
                Booking an appointment with Istanbul Kultur Hospital has never been easier.
                Through our user-friendly online system, patients can check their appointment schedules,
                check available doctors, and easily book appointments.
            </p><br />

            <p>
                Here, we take pride in our wide range of medical specialties, including cardiology,
                neurology, orthopedics, and general surgery. Our facilities are equipped with the most advanced
                treatment technologies, delivering accurate and efficient care.
            </p><br />

            <p>
                At Istanbul Kultur Hospital, your health and comfort are our highest priority.
            </p>
        </div>
    </div>
</section>
