@{
    ViewBag.Title = "Home";
}

@section Styles {
    <link rel="stylesheet" href="@Url.Content("~/Content/index.css")" />
}

<section class="main">
    <div class="container">
        <h2>Your health is our priority</h2>
    </div>
</section>
