
@{
    ViewBag.Title = "Index";
}


<head>
    <title>Home</title>
    <link rel="stylesheet" href="~/Content/layout.css">
    <link rel="stylesheet" href="~/Content/index.css">
</head>
<body>

    <header>
        <div class="container">
            <img id="ikulogo" src="~/Content/images/ikulogo.png" />
            <h1>Istanbul Kultur Hospital</h1>
            <nav>
                <ul>
                    <li><a href="register.php" class="btn-primary">Patient Sign-up</a></li>
                </ul>
            </nav>
        </div>
        <nav>
            <div>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="doctors.html">Find a Doctor</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="contactUs.html">Contact Us</a></li>
                    <li><a href="aboutUs.html">About Us</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section class="main">
            <div class="container">
                <h2>Your health is our priority</h2>

            </div>
        </section>
    </main>

    <footer>
        <div>
            <p>&copy; 2025 Hospital Management System. All rights reserved.</p>
        </div>
    </footer>

</body>

