
<div class="important_visit_btn_area">

    <button type="button" onclick="loadImportantVisits('@Url.Action("GetImportantVisits", "Patient")')" class="important_visit_btn">
        Most Recent Visit in Brief
    </button>

</div>
